@use '@/styles/mixins/control-field' as *;
@use '@/styles/tokens/radius' as *;

.checkbox {
	display: inline-flex;

	&--disabled {
		@include control-field-wrapper-disabled;
	}

	&__label {
		@include control-field-inline-label;

		.checkbox--disabled & {
			cursor: not-allowed;
		}
	}

	&__input {
		@include control-field-choice-input;
		border-radius: $radius-md;

		&:checked {
			background-color: var(--color-primary);
			border-color: var(--color-primary);
			/* stylelint-disable-next-line function-no-unknown */
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M13.78 4.22a.75.75 0 0 1 0 1.06l-7.25 7.25a.75.75 0 0 1-1.06 0L2.22 9.28a.75.75 0 0 1 1.06-1.06L6 11.94l6.72-6.72a.75.75 0 0 1 1.06 0z'/%3E%3C%2Fsvg%3E");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 0.75rem;
		}

		.checkbox--error & {
			@include control-field-choice-input-error;
		}
	}

	&__text {
		@include control-field-inline-text;
	}
}
