@use '@/styles/tokens/radius' as *;

.button-group {
	display: inline-flex;
	align-items: stretch;
	vertical-align: middle;

	&--horizontal {
		flex-direction: row;

		> * {
			position: relative;
			z-index: 0;

			&:hover:not(:disabled),
			&:focus-visible {
				z-index: 1;
			}

			&:hover:not(:disabled),
			&:active:not(:disabled) {
				transform: none;
			}

			&:only-child {
				border-radius: $radius-md;
			}

			&:not(:only-child):first-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:not(:only-child):not(:first-child):not(:last-child) {
				border-radius: 0;
			}

			&:not(:only-child):last-child {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

			&:not(:first-child) {
				margin-left: -1px;
				border-left-width: 0;
			}

			&[aria-pressed='true'] {
				z-index: 2;
			}

			&:not(:first-child)[aria-pressed='true'] {
				border-left-width: 1px;
			}
		}
	}

	&--vertical {
		flex-direction: column;

		> * {
			position: relative;
			z-index: 0;

			&:hover:not(:disabled),
			&:focus-visible {
				z-index: 1;
			}

			&:hover:not(:disabled),
			&:active:not(:disabled) {
				transform: none;
			}

			&:only-child {
				border-radius: $radius-md;
			}

			&:not(:only-child):first-child {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:not(:only-child):not(:first-child):not(:last-child) {
				border-radius: 0;
			}

			&:not(:only-child):last-child {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}

			&:not(:first-child) {
				margin-top: -1px;
				border-top-width: 0;
			}

			&[aria-pressed='true'] {
				z-index: 2;
			}

			&:not(:first-child)[aria-pressed='true'] {
				border-top-width: 1px;
			}
		}
	}

	&--full-width {
		display: flex;
		width: 100%;

		> * {
			flex: 1;
		}
	}
}
