@use '@/styles/tokens/spacing' as *;
@use './ButtonGroup.partial' as button-group;

.button-group {
	display: inline-flex;
	align-items: stretch;
	vertical-align: middle;

	&--horizontal {
		flex-direction: row;
	}

	&--vertical {
		flex-direction: column;
	}

	&--full-width {
		display: flex;
		width: 100%;

		> button {
			flex: 1;
		}
	}

	@include button-group.group-item-styles;
}
