@use './reset';
@use './theme/light';
@use './theme/dark';
@use './theme/typography';
@import './utilities/visually-hidden';

body {
	font: var(--font-base);
	letter-spacing: var(--letter-spacing-wide);
	background-color: var(--color-bg);
	color: var(--color-text);
}

#root,
#__next {
	isolation: isolate;
}
