[data-toggle-button][aria-pressed='true'] {
	background-color: var(--color-primary-subtle);
	color: var(--color-primary);
	border-color: var(--color-primary);
	box-shadow: none;

	&:hover:not(:disabled) {
		background-color: var(--color-primary-subtle);
		color: var(--color-primary);
		border-color: var(--color-primary);
		box-shadow: none;
		transform: none;
	}

	&:active:not(:disabled) {
		background-color: var(--color-primary-subtle);
		box-shadow: none;
		transform: none;
	}
}
