@use '@/styles/mixins/control-field' as *;
@use '@/styles/tokens/radius' as *;

.radio {
	display: inline-flex;

	&--disabled {
		@include control-field-wrapper-disabled;
	}

	&__label {
		@include control-field-inline-label;

		.radio--disabled & {
			cursor: not-allowed;
		}
	}

	&__input {
		@include control-field-choice-input;
		border-radius: $radius-full;

		&:checked {
			background-color: var(--color-primary);
			border-color: var(--color-primary);
			box-shadow: inset 0 0 0 4px var(--color-surface);
		}

		.radio--error & {
			@include control-field-choice-input-error;

			&:checked {
				background-color: var(--color-error);
				border-color: var(--color-error);
				box-shadow: inset 0 0 0 4px var(--color-surface);
			}
		}
	}

	&__text {
		@include control-field-inline-text;
	}
}
